extends layout

block content

  div.container

    div.page-header
      h1 #{__('Nuestra Misión')}
      p.
        #{__('Promovemos el desarrollo de talentos en niños cuyos padres no tienen la capacidad económica para apoyarlos. También ocupamos el tiempo libre de niños pertenecientes a poblaciones vulnerables con actividades extracurriculares, promoviendo comunidades más desarrolladas y pacíficas.')}

      p.
        #{__('Los esfuerzos iniciales de la fundación se han enfocado en el Barrio Brasil de Sevilla, Valle.')}

    div.page-header
      h1 #{__('Nuestra Visión')}
      p
        b #{__('En el corto plazo: ')}
        |#{__('Influir en el desarrollo de la comunidad con jóvenes más educados y con aspiraciones de desarrollo y contribución a la sociedad.')}
      p
        b #{__('En el largo plazo: ')}
        |#{__('El desarrollo sostenible de la Fundación, con el patrocinio de los mismos niños beneficiados durante sus primeros años, atendiendo necesidades de desarrollo de más niños vulnerados.')}

    div.page-header
      h1 #{__('Nuestros Valores')}
      ul
        li #{__('Honestidad')}
        li #{__('Integridad')}
        li #{__('No discriminación')}
        li #{__('Perseverancia')}
        li #{__('Disciplina')}